@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Dashboard.css">


<div class="grid_menu">
    <div class="row row_menu">
        <div class="col-12 text-danger" style="font-size:24px; text-align:center; width:100%; margin-bottom:15px;" id="message_error_connect"></div>
        <div class="col-12 tabLeft">
            <h2 style="text-align: center; font-family:'Ink Free' ; font-weight:600;">
                Thông số hiện tại
            </h2>
            <table class="table table-bordered table_thongso">
                <thead>
                    <tr>
                        <th scope="col">Loại khí</th>
                        <th scope="col">Áp suất</th>
                        <th scope="col">Lưu lượng</th>
                        <th scope="col">Thể tích</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Oxi</td>
                        <td id="ApSuatOxi">0</td>
                        <td id="LuuLuongOxi">0</td>
                        <td id="TheTichOxi">0</td>
                    </tr>
                    <tr>
                        <td scope="row">Nitor</td>
                        <td id="ApSuatNitor">0</td>
                        <td id="LuuLuongNitor">0</td>
                        <td id="TheTichNitor">0</td>
                    </tr>


                </tbody>
            </table>


        </div>

        <div style="width:100%;display: flex;justify-content: center;">
            <div style="background-color: rgba(0, 0, 0, 0.3); width: 65%;height: 1px;"></div>
        </div>

        <div class="col-12 tabRight">
            <div class="tuLayMau">
                <h2 style="text-align: center; font-family:'Ink Free'; font-weight:600;">
                    Cài đặt
                </h2>

                <div class="luuLuong">

                    <div class="box_luuLuongra">
                        <label for="input_luuluongvao" style="font-size:18px; font-weight:600">Áp suất</label>
                        <input class="readonly_input" style="width:300px;" type="number" id="input_luuluongvao" placeholder="bar">
                        <button class="btn btn-primary" id="btn_doluuluongvao" type="button" style="padding-left:20px; padding-right:20px; margin-top:10px; margin-bottom:10px;">Lưu</button>
                        <label for="input_luuluongra" style="font-size:18px; font-weight:600">Thời gian nạp giới hạn</label>
                        <input class="readonly_input" style="width:300px;" type="number" id="input_luuluongra" placeholder="phút">
                        <button class="btn btn-primary" id="btn_doluuluongra" type="button" style="padding-left:20px; padding-right:20px; margin-top:10px; margin-bottom:10px;">Lưu</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script src="~/js/Dashboard.js"></script>
    }
