@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Dashboard.css">

<div class="row p-3 shadow-lg mb-2 bg-white rounded" style="display:flex;justify-content:space-evenly;">
    <div class="col-12" style="text-align:center; color:#000">
        <h2>Oxy</h2>
    </div>
    <div class="col-3 card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">0</h5>
        </div>
    </div>
    <div class="col-3 card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">100</h5>
        </div>
    </div>
    <div class="col-3 card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">110</h5>
        </div>
    </div>
    <div class="col-3 card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">32</h5>
        </div>
    </div>
</div>



<div class="row p-3 shadow-lg mb-2 bg-white rounded" style="display:flex;justify-content:space-evenly;">
    <div class="col-12" style="text-align:center; color:#000">
        <h2>Nitor</h2>
    </div>
    <div class="col-3 card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">0</h5>
        </div>
    </div>
    <div class="col-3 card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">100</h5>
        </div>
    </div>
    <div class="col-3 card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">110</h5>
        </div>
    </div>
    <div class="col-3 card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">32</h5>
        </div>
    </div>
</div>



<div class="row bg-white p-3 shadow-lg mb-3 rounded">
    <div class="col-6">
        <div class="tile">
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-6">

    </div>
</div>

@section Scripts{
    <script src="~/lib/ChartJS/chartjs.min.js"></script>
    <script src="~/js/Dashboard.js"></script>
    <script>
        const data = {
            labels: [
                'Red',
                'Green',
                'Yellow',
                'Grey',
                'Blue'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [11, 16, 7, 3, 14],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(75, 192, 192)',
                    'rgb(255, 205, 86)',
                    'rgb(201, 203, 207)',
                    'rgb(54, 162, 235)'
                ]
            }]
        };

        const config = {
            type: 'polarArea',
            data: data,
            options: {}
        };

        const chart = new Chart($("#chart").get(0).getContext("2d"), config);
    </script>

}
