@{
    Layout = "_Layout";
}
@inject IHttpContextAccessor HttpContextAccessor

<link rel="stylesheet" href="~/css/Dashboard.css">

@{
    bool darkMenu = HttpContextAccessor.HttpContext.Session.GetInt32(Common.SESSION_DARKMENU) == 1 ? true : false;
}

@if (darkMenu == true)
{
    <link rel="stylesheet" href="~/css/Dark/DashboardDark.css" />
}
else
{
    <link rel="stylesheet" href="~/css/Light/DashboardLight.css" />
}

<div class="row p-3 shadow-lg mb-2 mt-2 rounded row-parameter-bg-color row-parameter-bg">
    <div class="col-12 header-parameter">
        <h2>Oxy</h2>
    </div>
    <div class="col-3 card text-parameter bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Áp suất nạp(bar)</div>
        <div class="card-body">
            <h5 class="card-title">0</h5>
        </div>
    </div>
    <div class="col-3 card text-parameter bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Thể tích nạp</div>
        <div class="card-body">
            <h5 class="card-title">100</h5>
        </div>
    </div>
    <div class="col-3 card text-parameter bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Thời gian áp suất lấy mẫu</div>
        <div class="card-body">
            <h5 class="card-title">110</h5>
        </div>
    </div>
    <div class="col-3 card text-parameter bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Thời gian lưu lượng lấy mẫu</div>
        <div class="card-body">
            <h5 class="card-title">32</h5>
        </div>
    </div>
</div>



<div class="row p-3 shadow-lg mb-2 row-parameter-bg-color row-parameter-bg rounded" >
    <div class="col-12 header-parameter" >
        <h2>Nitor</h2>
    </div>
    <div class="col-3 card text-parameter bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Áp suất nạp(bar)</div>
        <div class="card-body">
            <h5 class="card-title">0</h5>
        </div>
    </div>
    <div class="col-3 card text-parameter bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Thể tích nạp</div>
        <div class="card-body">
            <h5 class="card-title">100</h5>
        </div>
    </div>
    <div class="col-3 card text-parameter bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Thời gian áp suất lấy mẫu</div>
        <div class="card-body">
            <h5 class="card-title">110</h5>
        </div>
    </div>
    <div class="col-3 card text-parameter bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Thời gian lưu lượng lấy mẫu</div>
        <div class="card-body">
            <h5 class="card-title">32</h5>
        </div>
    </div>
</div>



<div class="row row-parameter-bg-color p-3 shadow-lg mb-3 rounded">
    <div class="col-12 col-md-5">
        <div class="tile">
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-7 card card-setting">
        <h4 class="card-header text-center ">Cài đặt</h4>
        <div class="card-body">
            <div>
                <p class="text-muted" style="font-size:14px;">Áp suất: 5 bar</p>
                <p class="text-muted" style="font-size:14px;">Thời gian nạp giới hạn: 2 phút</p>
                <p class="text-muted" style="font-size:14px;">Tự động ngắt khi đạt áp suất và thể tích nạp: Bật</p>
            </div>

            <div class="separate"></div>

            <form>
                <div class="form-group mb-3" style="display:flex; align-items:center;">
                    <input type="text" class="form-control bg-color-input" id="formGroupExampleInput" readonly placeholder="Tự động ngắt khi đạt áp suất và thể tích nạp">

                    <!-- Rounded switch -->
                    <label class="switch" style="min-width:60px; position:absolute; right:30px;">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="form-group mb-3">
                    <input type="number" class="form-control bg-color-input" id="" placeholder="Áp suất (bar)">
                </div>
                <div class="form-group mb-3">
                    <input type="number" class="form-control bg-color-input" id="" placeholder="Thời gian nạp giới hạn (phút)">
                </div>
                <div class="form-group mb-3">
                    <input type="number" class="form-control bg-color-input" id="" placeholder="Thời gian tự động lưu bản ghi (giây/lần)">
                </div>
            </form>


            <div style="display:flex;justify-content:center; margin-top:20px;">
                <button type="button" class="btn btn-success px-4 py-2">Lưu lại</button>
            </div>


        </div>

    </div>
</div>

@section Scripts{
    <script src="~/lib/ChartJS/chartjs.min.js"></script>
    <script src="~/js/Dashboard.js"></script>
    <script>
        const data = {
            labels: [
                'Red',
                'Green',
                'Yellow',
                'Grey',
                'Blue'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [11, 16, 7, 3, 14],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(75, 192, 192)',
                    'rgb(255, 205, 86)',
                    'rgb(201, 203, 207)',
                    'rgb(54, 162, 235)'
                ],
                borderColor:'#fff'
            }]
        };

        const config = {
            type: 'polarArea',
            data: data,
            options: {}
        };

        const chart = new Chart($("#chart").get(0).getContext("2d"), config);
    </script>

}
