@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12" style="margin-top:25px; margin-bottom:20px;">
        <h1 style="text-align: center;">
            Biểu Đồ Đo Lường
        </h1>
    </div>
    <div class="col-12 mb-3">
        <select class="form-select" style="max-width:150px;" aria-label="Default select example">
            <option selected>Hôm nay</option>
            <option value="1">Tuần này</option>
            <option value="2">Tháng này</option>
        </select>
    </div>
    <div class="col-12 bg-white" style="margin-bottom:20px;">
        <div class="tile">
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="lineChartApSuat"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 bg-white" style="margin-top:20px;margin-bottom:20px;">
        <div class="tile">
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="lineChartLuuLuong"></canvas>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/lib/ChartJS/chartjs.min.js"></script>

    <script type="text/javascript">

        // Ap suat
        const dataApSuat = {
            labels: ["1", "2", "3", "4", "5", "6", "7"],
            datasets: [{
                label: 'Nitor',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                backgroundColor: 'rgb(75, 192, 192)',
                tension: 0.1,

            },
            {
                label: 'Oxy',
                data: [65, 59, 20, 21, 26, 225, 80],
                fill: false,
                borderColor: 'rgb(90, 152, 112)',
                backgroundColor: 'rgb(90, 152, 112)',
                tension: 0.1,
            }]
        };

        const optionsApSuat = {
            plugins: {
                title: {
                    display: true,
                    text: 'Áp suất',
                    font: { size: 19 }
                }
            }
        }

        const lineChartApSuat = new Chart($("#lineChartApSuat").get(0).getContext("2d"), { type: 'line', data: dataApSuat, options: optionsApSuat });




        //// Luu luong

        const dataluuLuong = {
            labels: ["1", "2", "3", "4", "5", "6", "7"],
            datasets: [{
                label: 'Nitor',
                data: [65, 59, 80, 81, 56, 55, 40],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                backgroundColor: 'rgb(75, 192, 192)',
                tension: 0.1,

            },
            {
                label: 'Oxy',
                data: [65, 59, 20, 21, 26, 225, 80],
                fill: false,
                borderColor: 'rgb(90, 152, 112)',
                backgroundColor: 'rgb(90, 152, 112)',
                tension: 0.1,
            }]
        };

        const optionsLuuLuong = {
            plugins: {
                title: {
                    display: true,
                    text: 'Lưu lượng',
                    font: { size: 19 }
                }
            }
        }

        const lineChartLuuLuong = new Chart($("#lineChartLuuLuong").get(0).getContext("2d"), { type: 'line', data: dataluuLuong, options: optionsLuuLuong });


    </script>

}
