@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap_min.css" />
    <link rel="stylesheet" href="~/css/Main.css" />
    <link rel="stylesheet" href="~/css/SideNav.css" />
    <link rel="stylesheet" href="~/css/Toast.css" />
    <link rel="shortcut icon" href="~/img/logo.png" type="image/x-icon">
    <title>LeanWay</title>
</head>

<body>

    @*    SIDENAV
    *@
    <div class="sidenav showAnimation-Sidenav" id="sidenav">
        <div class="menu_sidenav">

            <div class="head_menu_sidenav">
                <a href="">
                    <img src="~/img/logo.png" width="60" height="60"/>
                    <h2 id="header_name">LeanWay</h2>
                </a>
            </div>
            <div class="body_menu">
                <a class="item_menu" href="/dashboard">
                    <i class="fa-solid fa-screwdriver-wrench" style="margin-right:5px; font-size:19px; margin-bottom:2.5px;"></i>
                    Theo dõi và cài đặt
                </a>
                <a class="item_menu" href="/result">
                    <i class="fa-solid fa-clock-rotate-left" style="margin-right:5px; font-size:19px; margin-bottom:2.5px;"></i>
                    Lịch sử nạp khí
                </a>
                <a class="item_menu" href="/activity">
                    <i class="fa-solid fa-list-check" style="margin-right:5px; font-size:19px; margin-bottom:2.5px;"></i>
                    Hoạt động
                </a>
                <a class="item_menu" href="/chart">
                    <i class="fa-solid fa-chart-line" style="margin-right:5px; font-size:19px; margin-bottom:2.5px;"></i> 
                    Thống kê
                </a>
                @if (@HttpContextAccessor.HttpContext.Session.GetInt32(Common.SESSION_ISADMIN) == 1)
                {
                    <a class="item_menu" href="/employee">
                        <i class="fa-solid fa-user-group " style="margin-right:5px; font-size:19px; margin-bottom:2.5px;"></i>
                        Nhân viên
                    </a>
                }
            </div>

        </div>
        <div class="user">
            <div class="user_info">
                <span class="name_user">@HttpContextAccessor.HttpContext.Session.GetString(Common.SESSION_USER_FULLNAME)</span>
            </div>

            <a type="button" class="btn btn_logout btn-danger" href="/login/logout">
                Đăng xuất
            </a>
        </div>
    </div>

    @*    TOAST
    *@
    <div class="toast-container" id="toast_container">

        <div style="display:none;" id="toast_success" class="toast toast-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="fa-solid fa-circle-check"></i>
                <strong class="me-auto">NULL</strong>
                <button type="button" class="btn-close btn_toast_close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Dev by 941
            </div>
        </div>

        <div style="display:none;" id="toast_danger" class="toast toast-danger" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="fa-solid fa-circle-exclamation"></i>
                <strong class="me-auto">NULL</strong>
                <button type="button" class="btn-close btn_toast_close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Dev by 941
            </div>
        </div>
    </div>





    <div class="container">
        @RenderBody()
    </div>


    <script src="~/lib/jquery3_2_1.js"></script>
    <script src="~/lib/popper.js"></script>
    <script src="~/lib/bootstrap_min.js"></script>
    <script src="~/lib/bootstrap_bundle_min.js"></script>
    <script src="~/js/Toast.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>





